<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>AIoT</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="nav"></div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
          <form id="createForm" action="/api/post/create" method="POST">
            <input type="text" name="title" placeholder="제목">
            <textarea name="content" placeholder="내용"></textarea>
            <input type="file" name="file">
            <input type="button" value="저장" onclick="javascript:createPost();">
          </form>
      </div>

    </div>
    <br><br>
  </div>
  <div id="footer"></div>
  
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/ajax.js"></script>
  <script>
    $('#createForm').append(`<input type="hidden" name="board_id" value="${location.pathname.split('/')[2]}">`)
  </script>
  </body>
</html>
