<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>AIoT</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="nav"></div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div>
          <p id="title">로딩중...</p>
          <p id="author" class="right">로딩중...</p>
        </div>
        <br>
        <br>
        <div>
          <p id="content">로딩중...</p>
        </div>
        
        <br>
        <a id="file"></a>
      </div>
      <div class="row">
        <div id="comments"></div>
        <form id="createComment">
          <textarea name="content"></textarea>
          <input type="button" value="저장" onclick="javascript:submitComment();">
        </form>
      </div>
      <input type="button" value="목록" onclick="javascript:history.back();">
      <input type="button" value="수정">

    </div>
    <br><br>
  </div>
  <div id="footer"></div>
  
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/ajax.js"></script>
  </body>
</html>