<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>AIoT</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="nav"></div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <form action='/api/login' method='POST'>
            <input name='userId' type='text' placeholder="아이디" required>
            <input name='password' type='password' placeholder="비밀번호" required>
            <input name='password2' type='password' placeholder="비밀번호 확인" required>
            <input name='name' type='text' placeholder="이름" required>
            <input name='email' type='email' placeholder="이메일" required>
            <input type='button' value='회원가입' onclick="javascript:signup();">
        </form>
      </div>

    </div>
    <br><br>
  </div>
  <div id="footer"></div>
  
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/ajax.js"></script>
  </body>
</html>
